@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700|Roboto:400,500,700');

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    background-image: url(http://lorempixel.com/output/city-q-c-1465-740-4.jpg)
}